/* Logo Styling */
.nav-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-grow: 1;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #d81b60;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #d81b60;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}
